.container-top-header {
    background-color: #07BEB8;
    width: 97%;
    padding: 1%;
    text-align: center;
    border-radius: 25px 25px 0 0;
    margin: auto ;
}

.title-header {
    color: #091540;
    background-color: #FCF7F8;
    margin: 0 32% 0 32% ;
    border-radius: 25px;
}

@media all and (max-width: 670px) {
    .container-top-header {
        background-color: #07BEB8;
        width: 100%;
        padding: 1%;
        text-align: center;
        border-radius: 25px;
        margin: auto ;
    }

    .title-header {
        color: #091540;
        background-color: #FCF7F8;
        margin: 0 32% 0 32% ;
        border-radius: 25px;
        font-size: 100%;
    }
}