.main-wrapper {
    background-color: #f4fafa;
  }

/* WRAPPER */
.sertifikat-wrapper {
  padding: 80px 20px;
  max-width: 1200px;
  margin: auto;
}

/* TITLE */
.title {
  display: block;
  margin: 0 auto 40px;
  width: 180px;
}

/* GRID MODERN */
.sertifikat-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

/* CARD */
.sertifikat-card {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  background: #111;
  transition: 0.3s;
}

/* IMAGE FIX */
.img-wrapper {
  width: 100%;
  height: 160px;
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s;
}

/* HOVER EFFECT */
.sertifikat-card:hover img {
  transform: scale(1.1);
}

/* OVERLAY */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: 0.3s;
}

.overlay span {
  color: white;
  font-size: 14px;
  padding: 8px 16px;
  border: 1px solid white;
  border-radius: 20px;
}

.sertifikat-card:hover .overlay {
  opacity: 1;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .img-wrapper {
    height: 130px;
  }
}